Source: wifi-control-disabler 
Section: utils
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://portal.edu.gva.es/lliurex/va
#Vcs-Browser: https://salsa.debian.org/debian/foo
Vcs-Git: https://github.com/lliurex/wifi-control-disabler 

Package: wifi-control-disabler
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
